/*-------------------HEADER--LOGO------------*/
header {
    background-image:url(../img/grupal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    height: 600px;
    text-align: center;
}
header img{
    width: 350px;
    margin: 50px 0px 0px 90px;
}
header button{
    background: #fcb924;
    padding: 7px 20px ;
    border-radius: 7px;
    font-size: 20px;
    border: none;
}
header a{
  text-decoration: none; 
    font-size: 20px;
    color: black;
}

section ul li img {
    width: 350px;
}
section ul li  {
    margin: 20px 5px;
}
section p {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
footer{
    background: #3b3838;
    padding: 20px 0px;
    font-size: 18px;
    color: white;
}